.p-datepicker {
    width: 100% !important;
    border: none !important;
}

.p-datepicker-header {
    border: none !important;
    padding-bottom: 2rem;
}

.p-datepicker-title {
    font-size: 1.8rem;
    font-weight: 700;
}

.p-datepicker-calendar th {
    color: #64748b;
    font-weight: 600;
}

.p-datepicker-calendar td > span {
    width: 3rem;
    height: 3rem;
    border-radius: 16px;
}

.p-datepicker-calendar td.p-datepicker-today > span {
    border: 2px solid #14b8a6;
}

.p-datepicker-calendar td.p-highlight > span {
    background: #14b8a6 !important;
    color: white !important;
}